body{
    background-color: #510063;
    background: linear-gradient(180deg,rgba(81, 0, 99, 1) 0%, rgba(0, 0, 0, 1) 100%, rgba(0, 0, 0, 1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

header{
    margin: 0px auto;
    width: 50%;
    padding-top: 12rem;
}

.logo{
    margin: 0px auto;
    width: 80%;
    padding: 0px;
}

.logo img{
    max-width: 100%;
}

.title {
    text-align:center;
    color:#510063;
    padding: 0.5px;
    margin: 0px auto;
    font-family: "Metamorphous", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100%;
    background-color: grey;
    border-radius: 100%;
    box-shadow: 0 0 10px 5px rgba(128, 128, 128, 0.5);
    width: 85px;
}

a {
    text-decoration: none;
    color: inherit;
}

@keyframes floatY {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% { transform: translateY(0);
    }
}

.logo, .title {
    animation: floatY 2s ease-in-out infinite;
    will-change: transform;
}

.logo:hover, .logo:focus, .title:hover, .title:focus {
    animation-play-state: paused;
}

.title:hover{
    cursor: pointer;
    color: #d1d1d1;
    width: 90px;
}


@media (prefers-reduced-motion: reduce) {
    .logo, .title {
        animation: none;
        transition: none;
    }
}

.bottom-banner-gif {
    position: fixed;
    bottom: 0; 
    left: 0;        
    width: 100vw;  
    z-index: 9999;   
    pointer-events: none;
}

.calculator-wrapper {
    position: relative;
    width: 340px;
    margin: 100px auto 0;
}

.background {
    position: relative;
    z-index: 1;
    width: 300px;
    padding: 20px;
    background-color: #fcecff;
}

.dragon-border {
    position: absolute;
    top: -300px;
    left: -159px;
    width: 700px;
    z-index: 2;
    pointer-events: none;
}

.display {
    width: 100%;
    margin-bottom: 20px;
}

#display-text {
    margin: 0;
    padding: 15px;

    background-color: white;
    border-radius: 8px;

    text-align: right;
    font-size: 2rem;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
}

#buttons button {
    padding: 20px;
    border: none;
    border-radius: 8px;
    background-color: #510063;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

#buttons button:hover {
    background-color: #72008a;
}

#equals{
    grid-column: span 4;
    background-color: #ff00ff;
}
.metamorphous-regular {
  font-family: "Metamorphous", serif;
  font-weight: 400;
  font-style: normal;
}

