body{
   background-color: #510063;
    background: linear-gradient(180deg,rgba(81, 0, 99, 1) 0%, rgba(0, 0, 0, 1) 100%, rgba(0, 0, 0, 1) 100%);
    background-size: cover;
  background-repeat: no-repeat;
}

header{
    margin: 0px auto;
    width: 50%;
    text-align:center;
}

.logo img {
    margin: 0px auto;
    width: 100%;
}